<!DOCTYPE html>
<html>
<head>
    <title>User App</title>
</head>
<body>
<h1>Add User</h1>

<form action="/add-user" method="POST">
    <input name="name" placeholder="Name" required />
    <input name="email" type="email" placeholder="Email" required />
    <input name="password" type="password" placeholder="Password" required />
    <button type="submit">Add User</button>
</form>

<h2>All Users</h2>
<ul>
    <% users.forEach(user => { %>
        <li><%= user.name %> - <%= user.email %></li>
    <% }) %>
</ul>

</body>
</html>
